<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#if title}}{{ title }} - {{/if}}ebookmode</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="icon" type="image/png" href="/static/ebookmode.16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/static/ebookmode.32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/ebookmode.48.png" sizes="48x48">
    <link rel="icon" type="image/png" href="/static/ebookmode.144.png" sizes="144x144">
</head>
<body>
    <header>
        <nav>
            <a href="/">🏠 Home</a>
            <select id="bookmarks"></select>
            {{#if url}}<a href="{{ url }}">🌍 Source</a>{{/if}}
        </nav>
        <h1 id="title">{{#if title}}{{ title }}{{ else }}ebookmode{{/if}}</h1>
        <form method="GET" action="/">
            <input type="text" required name="url" placeholder="URL here" value="{{ url }}">
            <button type="submit">🌍 Go</button>
            {{#if url}}<button type="button" id="toggleBookmark">+ Bookmark</button>{{/if}}
        </form>
    </header>
    <main>{{{ body }}}</main>
    <footer>
        <p>
            Brought to you by <a href="https://dropdatabase.es/">dropdatabase.es</a><br>
            <a href="https://github.com/callmewind/ebookmode">View source</a>
        </p>
    </footer>
    <script>
        /* old javascript intended for ebook browser compatibility :_) */
        const bookmarkList = JSON.parse(window.localStorage.getItem("bookmarks") || "{}");
        const LABEL_MAX_LENGTH = 30;
        const select = document.getElementById('bookmarks');
        const updateBookmarks = function () {
            while (select.firstChild) {
                select.removeChild(select.firstChild);
            }

            var option = document.createElement('option');
            option.textContent = '📒 Bookmarks'
            option.value = '';
            select.appendChild(option);

            Object.keys(bookmarkList).forEach(function(url) {
                const option = document.createElement('option');
                option.value = url;
                option.textContent = bookmarkList[url];
                select.appendChild(option);
            });
        };

        select.addEventListener(
            'change',
            function(event) {
               if (event.target.value) {
                window.location.href = '/?url=' + encodeURIComponent(event.target.value);
               }
            }
        );
        updateBookmarks();

        {{#if url}}
        const url = "{{ url }}";
        const toggleBookmark = document.getElementById('toggleBookmark');
        toggleBookmark.addEventListener(
            'click',
            function() {
                if (url in bookmarkList) {
                    delete bookmarkList[url];
                    this.textContent = '+ Bookmark';
                } else {
                    const title = document.getElementById('title').textContent.trim();
                    bookmarkList[url] = title.slice(0, 20);

                    if(title.length > bookmarkList[url].length) {
                        bookmarkList[url] += '…';
                    }
                    this.textContent = '- Bookmark';
                }
                window.localStorage.setItem("bookmarks", JSON.stringify(bookmarkList));
                updateBookmarks();
            }
        );
        toggleBookmark.textContent = url in bookmarkList? '- Bookmark' : '+ Bookmark';
        {{/if}}
    </script>
</body>
</html>